@font-face {
  font-family: "Ioskeley Mono";
  src: url("/fonts/IoskeleyMono-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Ioskeley Mono";
  src: url("/fonts/IoskeleyMono-ThinItalic.woff2") format("woff2");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Ioskeley Mono";
  src: url("/fonts/IoskeleyMono-ExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Ioskeley Mono";
  src: url("/fonts/IoskeleyMono-ExtraLightItalic.woff2") format("woff2");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Ioskeley Mono";
  src: url("/fonts/IoskeleyMono-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Ioskeley Mono";
  src: url("/fonts/IoskeleyMono-LightItalic.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Ioskeley Mono";
  src: url("/fonts/IoskeleyMono-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Ioskeley Mono";
  src: url("/fonts/IoskeleyMono-RegularItalic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Ioskeley Mono";
  src: url("/fonts/IoskeleyMono-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Ioskeley Mono";
  src: url("/fonts/IoskeleyMono-MediumItalic.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Ioskeley Mono";
  src: url("/fonts/IoskeleyMono-SemiLight.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Ioskeley Mono";
  src: url("/fonts/IoskeleyMono-SemiLightItalic.woff2") format("woff2");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Ioskeley Mono";
  src: url("/fonts/IoskeleyMono-SemiBold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Ioskeley Mono";
  src: url("/fonts/IoskeleyMono-SemiBoldItalic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Ioskeley Mono";
  src: url("/fonts/IoskeleyMono-Bold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Ioskeley Mono";
  src: url("/fonts/IoskeleyMono-BoldItalic.woff2") format("woff2");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Ioskeley Mono";
  src: url("/fonts/IoskeleyMono-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Ioskeley Mono";
  src: url("/fonts/IoskeleyMono-BlackItalic.woff2") format("woff2");
  font-weight: 900;
  font-style: italic;
}
